## Data Exploration Notebook

In [3]:
import pandas as pd

### Load Data

In [4]:
# load data
_df_train = pd.read_csv("DataFiles/CreditCard_train.csv", index_col=0, header=1)
_df_test = pd.read_csv("DataFiles/CreditCard_test.csv", index_col=0, header=1)

# create copy df for handling
df_train = _df_train.copy()
df_test = _df_test.copy()

### Data Exploring

In [5]:
df_train.describe()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
count,24000.000000,24000.000000,24000.000000,24000.00000,24000.000000,24000.000000,24000.00000,24000.000000,24000.000000,24000.000000,...,2.400000e+04,24000.000000,24000.000000,24000.000000,24000.000000,2.400000e+04,24000.00000,24000.000000,24000.000000,24000.000000
mean,165495.986667,1.628250,1.847417,1.55725,35.380458,-0.003125,-0.12350,-0.154750,-0.211667,-0.252917,...,4.636706e+04,42368.188417,40000.682542,38563.710625,5542.912917,5.815336e+03,4969.26600,4743.480042,4783.486042,5189.399042
std,129128.744855,0.483282,0.780007,0.52208,9.271050,1.123425,1.20058,1.204033,1.166549,1.136993,...,6.819390e+04,63070.680934,60345.012766,59155.759799,15068.576072,2.079703e+04,16095.61434,14883.269990,15270.405279,17630.371990
min,10000.000000,1.000000,0.000000,0.00000,21.000000,-2.000000,-2.00000,-2.000000,-2.000000,-2.000000,...,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.00000,28.000000,-1.000000,-1.00000,-1.000000,-1.000000,-1.000000,...,2.773500e+03,2340.000000,1740.000000,1234.750000,1000.000000,8.000000e+02,379.00000,279.750000,244.000000,60.750000
50%,140000.000000,2.000000,2.000000,2.00000,34.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,2.003900e+04,18940.500000,18107.500000,17036.000000,2100.000000,2.000000e+03,1702.50000,1500.000000,1500.000000,1500.000000
75%,240000.000000,2.000000,2.000000,2.00000,41.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,5.929800e+04,52188.500000,49746.500000,48796.250000,5000.000000,5.000000e+03,4347.25000,4000.000000,4005.000000,4000.000000
max,1000000.000000,2.000000,6.000000,3.00000,79.000000,8.000000,8.00000,8.000000,8.000000,8.000000,...,1.664089e+06,891586.000000,927171.000000,961664.000000,505000.000000,1.684259e+06,896040.00000,497000.000000,417990.000000,528666.000000

In [6]:
df_test.describe()

count    24000.000000
mean         0.223750
std          0.416765
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEFAULT, dtype: float64

__Comment__ : All the data types are integers and thus workable for ML models. There are no null values (arbitrarily checked and all features have the same count). Values in the `SEX`, `EDUCATION` <br>
Optional to check the dataframes with `quick_analysis(df_train)`.

## Data Cleaning & EDA


### Data 

To be cleaned:
* `AGE`: Creation of 'bins'
* `EDUCATION`: Grouping categories `4,5,6,0`
* `PAY_n`: Categorical/One-Hot Encoding
* `SEX`: Categorical/One-Hot Encoding
* `MARRIAGE`: Grouping categories `0` and `3`

#### Education

In [7]:
# inspect
df_train.EDUCATION.value_counts()

2    11360
1     8443
3     3850
5      207
4       92
6       37
0       11
Name: EDUCATION, dtype: int64

# Group 4,5,6,0 categories for 'EDUCATION'
ed_map = {1:1, 2:2, 3:3, 4:4, 5:4, 6:4, 0:4}
df_train.EDUCATION = df_train.EDUCATION.map(ed_map)

# inspect
df_train.EDUCATION.value_counts()

#### Marriage

In [8]:
# inspect
df_train.MARRIAGE.value_counts()

2    12877
1    10813
3      269
0       41
Name: MARRIAGE, dtype: int64

#### the original data may include additonal information, e.g. there may be a correlation between incorrectly entering information and default

# Group 0, 3 categories for 'MARRIAGE'
marr_map = {0:0, 1:1, 2:2, 3:0}
df_train.MARRIAGE = df_train.MARRIAGE.map(marr_map)

# inspect
df_train.MARRIAGE.value_counts()

### Inspecting the test set

In [9]:
df_test.MARRIAGE.value_counts()

AttributeError: 'Series' object has no attribute 'MARRIAGE'

In [ ]:
df_test.EDUCATION.value_counts()

In [ ]:
df_test.AGE.describe()