## Independent notebook used for checking the data

In [2]:
import pickle
import pandas

### Data Import from data pickle file

In [ ]:
with open('data.pkl', 'rd') as f:
    df_train, df_test = pickle.load(f)
f.close()

### Data Exploring

In [ ]:
df_train.describe()

In [ ]:
df_test.describe()

__Comment__ : All the data types are integers and thus workable for ML models. There are no null values (arbitrarily checked and all features have the same count). Values in the `SEX`, `EDUCATION` <br>
Optional to check the dataframes with `quick_analysis(df_train)`.

## Data Cleaning & EDA


### Data 

To be cleaned:
* `AGE`: Creation of 'bins'
* `EDUCATION`: Grouping categories `4,5,6,0`
* `PAY_n`: Categorical/One-Hot Encoding
* `SEX`: Categorical/One-Hot Encoding
* `MARRIAGE`: Grouping categories `0` and `3`

#### Education

In [38]:
# inspect
_df_train.EDUCATION.value_counts()

2    11360
1     8443
3     3850
5      207
4       92
6       37
0       11
Name: EDUCATION, dtype: int64

# Group 4,5,6,0 categories for 'EDUCATION'
ed_map = {1:1, 2:2, 3:3, 4:4, 5:4, 6:4, 0:4}
df_train.EDUCATION = df_train.EDUCATION.map(ed_map)

# inspect
df_train.EDUCATION.value_counts()

#### Marriage

In [39]:
# inspect
df_train.MARRIAGE.value_counts()

2    12877
1    10813
3      269
0       41
Name: MARRIAGE, dtype: int64

#### the original data may include additonal information, e.g. there may be a correlation between incorrectly entering information and default

# Group 0, 3 categories for 'MARRIAGE'
marr_map = {0:0, 1:1, 2:2, 3:0}
df_train.MARRIAGE = df_train.MARRIAGE.map(marr_map)

# inspect
df_train.MARRIAGE.value_counts()

### Inspecting the test set

In [40]:
df_test.MARRIAGE.value_counts()

2    3087
1    2846
3      54
0      13
Name: MARRIAGE, dtype: int64

In [41]:
df_test.EDUCATION.value_counts()

2    2670
1    2142
3    1067
5      73
4      31
6      14
0       3
Name: EDUCATION, dtype: int64

In [42]:
df_test.AGE.describe()

count    6000.000000
mean       35.905667
std         8.990675
min        21.000000
25%        29.000000
50%        34.000000
75%        42.000000
max        75.000000
Name: AGE, dtype: float64